<h1>{{ title }}</h1>
<table class="container">
  <caption>
    Colados x Disponíveis
  </caption>

  <colgroup>
    <col />
    <col span="6" style="background-color: cornflowerblue" />
  </colgroup>

  <thead>
    <tr>
      <th rowspan="6">Avaliação</th>
      <th colspan="6" scope="colgroup">Locadora Filmes Araújo</th>
    </tr>
    <tr>
      <th scope="col" *ngFor="let column of headers" >
        {{ column }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of filmesAraujo">
      <th scope="row">{{ row.rating }}</th>
      <td>{{ row?.title }}</td>
      <td>{{ row?.year }}</td>
      <td>{{ row?.director.name }}</td>
      <td>{{ row?.generator ?? "Não contém" }}</td>
      <td>{{ row?.description }}</td>
      <td>
        <img src={{row?.poster_image}} alt="img" height=100 width=100/>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
